{% extends 'budget/base.html' %}

{% block content %}

<div class="container">

  <section class="section section-stats">

    <div class="row">

      <div class="col l4">
        <div class="card-panel">
          <h5>Total Budget</h5>
          <h3>₦10,000.00</h3>
        </div>
      </div>

      <div class="col l4">
        <div class="card-panel">
          <h5>Total Budget</h5>
          <h3>₦10,000.00</h3>
        </div>
      </div>

      <div class="col l4">
        <div class="card-panel">
          <h5>Total Budget</h5>
          <h3>₦10,000.00</h3>
        </div>
      </div>


    </div>

  </section>

</div>

{% endblock %}
