{% extends 'budget/base.html' %}

{% block content %}

<div class="container">

  <section class="section section-stats">

    <div class="row">

      <div class="col s12 m12 l4">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h3 class="bold">₦10,000.00</h3>
        </div>
      </div>

      <div class="col s12 m9 l4">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h3 class="bold">₦10,000.00</h3>
        </div>
      </div>

      <div class="col s12 m9 l4">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h3 class="bold">₦10,000.00</h3>
        </div>
      </div>


    </div>

  </section>

  <section class="section section-expenses">
      <div class="row">
          <button class="btn wave-effect right">
              <i class="material-icons white-text left">add_circle</i>
              + Add Expense
          </button>
      </div>
  </section>

</div>

{% endblock %}
